.cart-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.67);

  display: flex;
  justify-content: flex-end;
}

.cart-container {
  height: 100%;
  width: 30%;
  min-width: 300px;
  background-color: var(--WHITE);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  animation: leftCart 250ms ease-out;
}

.cart-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  border-bottom: var(--RED) 1px solid;

  span {
    color: var(--BLACK);
  }
}

@keyframes leftCart {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
  }
}
