.input-icon-container {
  height: 40px;
  width: 100%;
  max-width: 445px;
  margin: 0 35px;
  padding: 12px;

  background-color: $WHITE;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input {
    margin-left: 12px;
    color: $GRAY;
    outline: none;
    border: none;

    &::placeholder {
      color: $GRAY;
    }
  }
}
